#users-container {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100%;
  transition: left 0.2s ease-in-out;
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    text-align: center;
  }
  .users-sidebar-visible & {
    left: 0;
  }
}

#toggle-users-sidebar {
  position: fixed;
  top: 16px;
  left: 16px;
  transition: left 0.2s ease-in-out;
  span {
    padding-right: 8px;
  }
  .user-icon {
    position: absolute;
    margin-top: -4px;
  }
  .users-sidebar-visible & {
    left: 416px;
  }
}